[package]
name = "crunch-relay-chain-westend"
version.workspace = true
license.workspace = true
repository.workspace = true
authors.workspace = true
description.workspace = true
edition.workspace = true

[dependencies]
crunch-core = { path = "../../core" }
crunch-error = { path = "../../error" }

subxt = { workspace = true }
